@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff;
    font-family: "Playwrite GB S", cursive;
}

.container {
    margin-top: 50px;
}

.pergunta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    gap: 25px;
}

.pergunta p{
    font-size: 2rem;
    border-bottom: 2px solid black;
}

.escolhas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}

.escolha {
    background-color: #4B2E83;
    color: white;
    border: 2px solid #FFD700;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.escolha:hover {
    background-color: #6A4BA3;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: #4B2E83;
    border: 5px solid #FFD700;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 130px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: inherit;
}