@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playwrite GB S", cursive;
}

.titulo {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.titulo img {
    width: 10%;
    position: absolute;
    top: 10%;
    left: 55%;
    z-index: -1;
}

.titulo h1 {
    font-family: "Amatic SC", sans-serif;
    font-size: 5.5rem;
    margin-top: 10%;
}

.opcoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.opcoes img {
    width: 15%;
    height: 15%;
}

.alt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5%;
}

.alt button {
    background-color: #4B2E83;
    color: white;
    font-size: 2.5rem;
    border: 2px solid yellow;
    padding: 10px 40px 10px 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Amatic SC", sans-serif;
}

.alt button:hover {
    background-color: #6A4BA3;
}

/* instruções e creditos*/
.instruc {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center
}

.cred {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center
}

.instruc .pop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 7%;
    width: 70%;
    height: 60%;
    border-radius: 5%;
}

.cred .popCred {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 5%;
    width: 60%;
    height: 80%;
    border-radius: 5%;
}

.popCred h1 {
    font-family: "Amatic SC", sans-serif;
    font-size: 3rem;
}

.container-devs {
    display: flex;
    gap: 20px;

}

.devs {
    width: 70%;
}

.instruc .pop h1 {
    margin-bottom: 5%;
    font-family: "Amatic SC", sans-serif;
    font-size: 3rem;
}

.instruc .pop p {
    font-size: 1.2rem;
}

.instruc .pop button {
    background-color: #4B2E83;
    color: white;
    font-size: 1rem;
    border: 2px solid yellow;
    padding: 2% 5% 2% 5%;
    text-align: center;
    margin-top: 5%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.instruc .pop button:hover {
    background-color: #6A4BA3;
}

.popCred button {
    background-color: red;
    color: white;
    border: 0;
    border-radius: 5%;
    width: 30%;
    height: 10%;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popCred button:hover {
    cursor: pointer;
    background-color: #d42727
}